/* Google Font - Inter(400, 500, 600, 700, 800) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* Custom Styles */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: #fee402;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffee56;
}

.hero-btn {
  @apply hover:bg-primaryHover transition duration-150 bg-primary text-secondary font-bold uppercase inline-block text-sm md:text-base py-3 px-4 md:py-4 md:px-6;
}

.bg-style {
  @apply bg-no-repeat bg-cover bg-center;
}

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset Styles */
@layer base {
  body {
    @apply font-inter;
  }
}
